<div class="container mt-4">
  <div class="row">
    <h2 class="text-center w-100">TAMNOONLE</h2>
  </div>

  <%= r.(TamnoonWordle.Components.GuessGrid.GuessGrid) %>
  <%= r.(TamnoonWordle.Components.GuessInput) %>
  <%= r.(TamnoonWordle.Components.GameOverMessage) %>
</div>